body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 126, 81);
}

section {
  width: 600px;
  margin: 20px auto;
  background-color: rgb(255, 72, 0);
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 10px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

select {
  padding: 0.2em 1.8em;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(94, 65, 13);
  border: none;
}

.btn {
  padding: 0.3em 1.8em;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(94, 65, 13);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: rgb(155, 52, 11);
  color: white;
}
input {
  padding-top: 0.3em;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-bottom: 0.3em;
  margin-right: 10px;
}
.quote-btn {
  margin-right: 20px;
  padding: 0.3em 1.8em;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(94, 65, 13);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}
.list {
  margin-bottom: 10px;
}
